# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules

# testing
coverage

# production
build
public

# deployment
deploy.bat

# misc
.DS_Store
npm-debug.log
game-cache.json