html, body, #root {
  background:#eee;
  height:100%;
  width:100%;
  margin:0;
  padding:0;
  font-family:-apple-system, BlinkMacSystemFont, 'SF UI Text', 'Helvetica Neue', 'Roboto', 'Arial Nova', 'Segoe UI', 'Arial', sans-serif;
  user-select:none;
}

div {
  display:flex;
  flex-direction:column;
  box-sizing:border-box;
  -webkit-tap-highlight-color: 'rgba(0,0,0,0)';
}

h1, h2, h3, h4, h5, h6 {
  margin:0;
}

video {
  flex:1;
  object-fit:cover;
  max-height:100%;
  max-width:100%;
  overflow:hidden;
}